<app-player *ngFor="let player of game.players; let i = index;" [playerActive]="i == game.currentPlayer"
    [ngStyle]="{'top.px': 100 + (i * 90)}" [name]="player" class="player-position"></app-player>

<div class="playground">

    <div class="card-stack">
        <!-- card stack -->
        <img *ngFor="let c of [1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/cards/card_cover.png" alt="">

        <!-- stack for played cards -->
        <img (click)="takeCard()" class="top-card" style="right:25px" src="assets/cards/card_cover.png" alt="">
        <img *ngFor="let card of game.playedCards" src="assets/cards/{{card}}.png" class="played-card" alt="">


        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right:25px"
            src="assets/cards/{{ currentCard }}.png" alt="">

    </div>

</div>

<app-game-info [card]="currentCard"class="pin-bottom"></app-game-info>
<button mat-fab color="primary" (click)="openDialog()" class="btn-add">
    <mat-icon>add</mat-icon>
</button>